name: Lint Code Base

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['**']

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Lint Code Base
        uses: github/super-linter@v5
        env:
          VALIDATE_JAVA: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

